
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark col-12 col-sm col-md col-lg ">
  <a class="navbar-brand text-white text-nav"  href=" <%= home_index_path %> "> HAZUKI ONLINE <i class="fa fa-home"></i></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav xl-auto ml-auto">
      <!-- <li class="nav-item">
        <a class="nav-link" href="<%= carta_path %>">Carta</a>
      </li> -->
      <%= form_tag products_search_path, :method => 'get', class:"form-inline my2 my-lg-0 " do %>
        <%= text_field_tag :buscanombre, params[:q], placeholder: "Busca tu Favorito", class:"form-control mr-ms-2" %>
        <%= submit_tag "Buscar", :name => nil, class:"btn btn-primary my2 my-sm-0"%>
       <%end%>
      <li class="nav-item">
        <a class="nav-link" href="<%= local_index_path%>">Locales <i class="fa fa-map-marker"></i></a>
      </li>

       <li class="nav-item">
        <a class="nav-link" href="<%= new_contact_path %>">Contactos <i class="fa fa-address-card"></i></a>
      </li>

      <% if user_signed_in? %>
      <!-- <li class="nav-item ">
          <a class="nav-link" href="<%= categories_path %>">Categoria y Productos</a></li> -->
      <li class="nav-item">
        <a class="nav-link " href="<%= products_path %>">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= orders_path %>">Mi Carro <i class="fa fa-shopping-cart fa-lg fa-success" ></i></a>
      </li>

      <li class="nav-item">
              <a class="nav-link nav-dange"><%= current_user.name %></a>
              <!-- <a class="nav-link nav-dange"><%= current_user.email %></a> -->
      </li>
      <li class="nav-item ">
          <%= link_to 'Salir', destroy_user_session_path, method: :delete, class: 'nav-link fa fa-power-off fa-lg'  %>
      </li>

    </ul>
      <% else %>
    <ul class="navbar-nav xl-auto ml-auto">

          <li class="nav-item"> <a class="nav-link" href="<%= new_user_session_path %>">Iniciar</a> </li>
          <li class="nav-item"> <a class="nav-link" href="<%= new_user_registration_path %>"> Registrarse </a> </li>

       <% end %>
    </ul>
  </div>
</nav>
