<div class="separator">

</div>
<div class="container-fluid">
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">cantidad</th>
        <th scope="col">precio por Unidad</th>
        <th scope="col">subtotal</th>
        <th scope="col"> </th>

      </tr>
    </thead>

    <tbody >
      <% @orders.each do |order| %>
        <tr>

          <td><%= order.product.name %></td>
          <td><%= order.product.orders_count(current_user.id, true) %></td>
          <td><%= number_to_currency(order.product.price, unit: "CLP", separator: ",", delimiter: ",", format: "%n %u", precision: 0) %> </td>
          <td><%= number_to_currency((order.product.orders_count(current_user.id, true) *  order.product.price), unit: "CLP", separator: ",", delimiter: ",", format: "%n %u", precision: 0) %> </td>
          <td><%= order.updated_at %></td>
        </tr>
      <% end %>

    </tbody>
  </table>

</div>
