

<form  action='<%= orders_path %>' name="forname" id="forname_order" method="post" >
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<div class="container">

  <div class="row">
    <% @products.each_slice(4) do |row| %>
    <% row.each do |product| %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card">
          <%= link_to image_tag(product.photo.url(:thumb), :class=> "card-img-top img-responsive center-block  rounded-left"), product if product.photo.present? %>
          <div class="card-body">
            <h5 class="card-title"> <%= product.name %></h5>
            <p class="card-text"><%= product.description %></p>
          </div>

          <div class="card-body">
            <h3 class="card-text"><%= number_to_currency(product.price, unit: "CLP", separator: ",", delimiter: ",", format: "%n %u", precision: 0) %></h3>
              <input type="checkbox"  class="custom-checkbox" name="products[]" value="<%= product.id %>">
              <label class="text-primary">Selecciona</label>
          </div>
      </div>
    </div>

    <% end %>
    <% end %>

      <button class="btn btn-danger" type="submit" name="button" >Agregar a Carro</button>

  </div>
</div>

</form>
